.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
  }

.nav-menu {
    display: flex;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    align-items: center;
}

.anchor-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.anchor-link:hover {
    color: #DA7C25;
}

.underline-icon {
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
}

.nav-connect {
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    font-size: 22px;
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
  }
  
  .nav-connect:hover {
    background: linear-gradient(267deg, #B923E1 0.36%, #DA7C25);
    transform: scale(1.1);
  }